

/* コメント投稿フォーム */
#respond p {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 12px;
}

#respond label {
  font-size: 14px;
}

#respond input,
#respond textarea {
  width: 100%;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#respond input[type="submit"] {
  width: 200px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border: 3px solid #000;
  border-radius: 0;
  background-color: #fff;
  -webkit-appearance: none;
  transition: all 0.3s;
}

#respond input[type="submit"]:hover {
  background-color: #000;
  color: #fff;
}

#respond .required {
  color: #ff0000;
}
