
/* お問い合わせフォーム */
.wpcf7 input,
.wpcf7 textarea {
  width: 100%;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wpcf7 input[type="submit"] {
  width: 200px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border: 5px solid #222222;
  border-radius: 0;
  background-color: #fff;
  -webkit-appearance: none;
  transition: all 0.3s;
}

.wpcf7 input[type="submit"]:hover {
  background-color: #222222;
  color: #fff;
}
