html {
  font-size: 62.5%;
}
body {
  // background: #2c2c32;
  background: $color-white;
  color: $color-black;
  @extend %font-family-ttl;
  font-feature-settings: "palt";
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  word-break: break-all;
}
a {
  color: $color-black;
}
.wrapper {
  background: $color-white;
  display: flex;
  padding: 2rem 4rem;
  margin: 0 auto;
  max-width: 1300px;
  .main {
    padding-top: 2rem;
    padding-bottom: 4rem;
    width: 75%;
    h1 {
      font-size: 2.4rem;
      margin: 2rem 0;
    }
    p {
      line-height: 1.75;
    }
    img {
      backface-visibility: hidden;
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }
}
@media screen and(max-width: 1023px) {
  .wrapper {
    display: block;
    margin-top: 76px;
    padding: 2rem 4rem;

    .main {
      width: auto;

      h1 {
        font-size: 2rem;
      }
    }
  }
}
@media (max-width: 640px) {
  .wrapper {
    margin: 0;
    padding: 0;
  }
}

// 端末ごとの改行指定
@media screen and (min-width: 641px){
  .is-pc { display:block; }
  .is-sp { display:none; }
}
@media screen and (max-width: 640px){
  .is-pc { display:none; }
  .is-sp { display:block; }
}
