html {
  font-size: 62.5%;
}
body {
  background: #2c2c32;
  // background: $color-lightgray;
  font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
  font-size: 1.6rem;
}
.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  .main {
    margin-top: 2rem;
    padding-bottom: 4rem;
    width: 80%;
  }

  // サイドバー
  .sidebar {
    margin-top: 31px;
    width: 20%;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}



@media (max-width: 600px) {
  .main {
    margin-top: 65px;
    padding-top: 20px;
  }
  .container {
    width: 95%;
  }
}
