
.contents {
  margin-right: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  .singlepage {
    padding: 0 5%;

    .breadcrumbs {
      font-size: 1.2rem;

      .curren-item {
        color: $color-navy;
        font-size: 1.2rem;
      }
    }

    &__ttl {
      font-size: 2.4rem;
      margin: 2rem 0;
    }
    &__postinfo {
      color: $color-black;
      display: flex;
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 2rem;
      .postinfo__date {
        padding-right: 2rem;
      }
    }
    h2 {
      background: $color-navy;
      border: 3px solid $color-lightblue;
      border-left: 2rem solid $color-lightblue;
      color: $color-lightblue;
      font-size: 2rem;
      font-weight: bold;
      margin-top: 4rem;
      margin-bottom: 2rem;
      padding: 1.5rem 2rem;
    }
    h3 {
      background: $color-lightgray;
      border-left: 1rem solid $color-navy;
      color: $color-navy;
      font-size: 1.6rem;
      font-weight: bold;
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 1.5rem 2rem;
    }
    p {
      line-height: 2;
      padding: 0 2rem;
      //通常挿入画像用
      img {
        margin: 0;
        width: 100%;
        height: auto;
        vertical-align: bottom;
      }
      a {
        color: #0000ee;
        text-decoration: underline;
        // 広告リンク画像用
        img {
          margin: 2rem 0;
          width: auto;
        }
      }
    }
    ul {
      background: $color-lightgray;
      margin: 0 2rem;
      padding: 1rem;
      li {
        background: $color-lightgray;
        list-style: disc;
        margin: 0 2rem;
        padding: 1rem 0;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .contents article h2 {
    font-size: 15px;
  }
}

@media screen and (max-width: 640px) {
  .contents {
    .singlepage {
      width: auto;
      display: block;
      h2 {
        font-size: 18px;
      }
      p {
        line-height: 1.75;
        padding: 0;
      }
    }
  }
}
