/* =====================================================
 *
 * VARIABLES
 *
 * -----------------------------------------------------
 *
 *
 *
 * ------------------------------------------------------
// デフォルトFont Family */



/* ------------------------------------------------------
// Color */
$color-black: #000000;
$color-white: #ffffff;
$color-lightgray: #f7f7f7;
