/////////////////////////////////
//
// サイドバー
//
/////////////////////////////////
.sidebar {
  margin-top: 30px;
  width: 25%;

  /////////////////////////////////
  // プロフィール欄
  /////////////////////////////////

  .profile {
    background: $color-navy;
    border: 3px solid $color-lightblue;
    box-sizing: border-box;
    color: $color-lightblue;
    letter-spacing: 0.1em;
    margin-bottom: 4rem;
    padding: 4rem 2rem;

    &__thumb {
      text-align: center;
      margin-bottom: 2rem;

      img {
        height: 150px;
        width: 150px;
        vertical-align: middle;
      }
    }
    &__name {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
    }
    &__role {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      text-align: center;
    }
    &__intro {
      font-size: 1.4rem;
      text-align: left;
    }
  }

  /////////////////////////////////
  // 人気記事
  /////////////////////////////////
  &__popular {
    background: $color-white;
    box-sizing: border-box;
    margin-bottom: 4rem;
  }
  &__header {
    background: $color-navy;
    border: 3px solid $color-lightblue;
    box-sizing: border-box;
    color: $color-lightblue;
    letter-spacing: 0.1em;
    padding: 1.2rem 1rem;
    .header__ttl {
      font-size: 1.8rem;
      font-weight: bold;
    }
  }


  /////////////////////////////////
  //
  // ウィジェット
  //
  /////////////////////////////////
  .widget {
    background: #fff;
    margin-bottom: 30px;
  }

  .widgettitle {
    background: #0a8fa5;
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 15px 10px;
    text-align: center;
  }

  .widget .wpp-thumbnail {
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
  }

  li a {
    color: #666666;
    display: block;
    line-height: 1.8;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-decoration: none;
  }

  li a:hover {
    text-decoration: underline;
  }

  li {
    font-size: 14px;
    color: #000;
  }

   li ul li {
    border-bottom: 5px solid #f7f7f7;
    margin: 0;
    padding: 20px;
  }
   ul .widget_categories li {
    display: flex;
  }
   ul .widget_categories li a {
    margin-right: 10px;
  }
   ul .widget_archive li {
    display: flex;
  }
   ul .widget_archive li a {
    margin-right: 10px;
  }
}


/* start タブレットサイズ */
@media (max-width: 1000px) {
  .sidebar {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}
