/////////////////////////////////
//
// サイドバー
//
/////////////////////////////////
.sidebar {
  margin-top: 3rem;
  width: 25%;

  /////////////////////////////////
  // プロフィール欄
  /////////////////////////////////

  .profile {
    background: $color-navy;
    border: 3px solid $color-lightblue;
    box-sizing: border-box;
    color: $color-lightblue;
    letter-spacing: 0.1em;
    margin-bottom: 4rem;
    padding: 4rem 2rem;

    &__thumb {
      text-align: center;
      margin-bottom: 2rem;

      img {
        height: 150px;
        width: 150px;
        vertical-align: middle;
      }
    }
    &__name {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
    }
    &__role {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      text-align: center;
    }
    &__intro {
      font-size: 1.4rem;
      text-align: left;
    }
  }

  /////////////////////////////////
  // 人気記事
  /////////////////////////////////
  &__popular {
    box-sizing: border-box;
    margin-bottom: 4rem;
  }
  &__header {
    background: $color-navy;
    border: 3px solid $color-lightblue;
    box-sizing: border-box;
    color: $color-lightblue;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
    padding: 1.2rem 1rem;
    .header__ttl {
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
  &__popular-item {
    background: $color-navy;
    border: 3px solid $color-lightblue;
    margin-bottom: 1rem;
    .popular-list__thumb {
      text-align: center;
      padding: 1.2rem 1rem;
      a {
        display: block;
        img {
          display: inline-block;
          width: 100%;
          height: auto;
          object-fit: cover;
          vertical-align: bottom;
          transform: scale3d(1, 1, 1);
          transition: 0.4s;
        }
      }
    }
    .popular-list__txt {
      padding: 1.2rem 1rem 2.4rem;
      a {
        color: $color-lightblue;
        display: block;
        font-size: 1.4rem;
      }
    }
  }
  /////////////////////////////////
  //
  // ウィジェット
  //
  /////////////////////////////////
  &__widget {
    box-sizing: border-box;
    margin-bottom: 4rem;

    .widget_categories,
    .widget_archive {
      margin-bottom: 4rem;

      .widgettitle {
        background: $color-navy;
        border: 3px solid $color-lightblue;
        box-sizing: border-box;
        color: $color-lightblue;
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        margin-bottom: 1rem;
        padding: 1.2rem 1rem;
        text-align: center;
      }
      ul {
        background: $color-navy;
        border: 3px solid #01b4ee;
        margin-bottom: 1rem;
        li {
          border-bottom: 3px solid $color-lightblue;
          a {
            color: $color-lightblue;
            display: block;
            padding: 1.2rem 1rem 1.2rem 2.4rem;
            transition: all 0.3s;
          }
          a:hover {
            background: $color-blue;
          }
        }
        li:last-child {
          border-bottom: none;
        }
      }
    }
  }
}


/* start タブレットサイズ */
@media (max-width: 1000px) {
  .sidebar {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}
