/* ページネーション */
.pager {
  width: 100%;
  text-align: center;
  .wp-pagenavi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem auto;
  }
  .pages,
  .current {
    background: $color-navy none repeat scroll 0 0;
    border: 3px solid $color-lightblue !important;
    color: $color-lightblue;
    font-size: 1.4rem;
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }
  .page {
    background: $color-blue none repeat scroll 0 0;
    border: 3px solid $color-lightblue;
    color: $color-lightblue;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: all .3s;
  }
  .page:hover {
    background: $color-navy;
    border: 3px solid $color-lightblue;
  }
  .previouspostslink,
  .nextpostslink {
    background: $color-blue none repeat scroll 0 0;
    border: 3px solid $color-lightblue;
    color: $color-lightblue;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0 1rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: all .3s;
  }
  .previouspostslink:hover,
  .nextpostslink:hover {
    background: $color-navy;
    border: 3px solid $color-lightblue;
  }
}

@media screen and(max-width: 640px) {
  .pager {
    .pages,
    .current,
    .page,
    .previouspostslink,
    .nextpostslink {
      margin: 0 .5rem 2rem 0;
    }
  }
}
