/* 目次 */
#toc_container {
  padding: 20px;
  background: $color-lightgray;
  border: 3px solid $color-lightblue;
  margin: 2em auto;
  width: auto;
  display: table;
}

#toc_container p {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  color: #333333;
}

#toc_container ul {
  list-style: none;
  padding: 0;
}

#toc_container ul a {
  text-decoration: none;
  color: #2700ff;
}

#toc_container ul a:hover {
  text-decoration: underline;
  color: #2700ff;
}
