/* 目次 */
#toc_container {
  padding: 1rem;
  background: $color-navy;
  border: 3px solid $color-lightblue;
  margin: 2rem auto;
  width: 70%;
  display: table;
  .toc_title {
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    margin: 0;
    color: $color-lightblue;
  }
  .toc_list {
    list-style: none;
    padding: 0;
    li {
      background: $color-navy;
      list-style: none;
      margin: 0;
      a {
        text-decoration: none;
        color: $color-lightblue;
      }
      a:hover {
        text-decoration: underline;
        color: $color-lightblue;
      }
      ul {
        background: $color-navy;
      }
    }
  }
}

@media screen and(max-width: 640px) {
  #toc_container {
    width: auto;

    .toc_list {
      margin: 0;
    }
  }
}
